* {
  transition: background-color 0.5s, color 0.5s;
}

body {
  padding: 1.5rem;
}

#heading {
  margin-top: 0;
  text-align: center;
}

textarea {
  width: 100%;
  height: 7.5rem;
  font-size: 1rem;
  padding: 0.4rem;
}

#counter {
  margin: 1rem 2rem 1rem 0;
  font-size: 1.2rem;
  list-style: none;
  padding-left: 0;
}

#clear {
  color: white;
  background-color: #d10202;
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: bold;
}

#clear:hover {
  background-color: #fc3131;
}

#options {
  display: flex;
  justify-content: space-between;
}

.darkmode {
  background-color: black;
  color: white;
}
