body {
  padding: 1.5rem;
}

#heading {
  margin-top: 0;
  text-align: center;
}

textarea {
  width: 100%;
  height: 7.5rem;
  font-size: 1rem;
}

#counter {
  margin-top: 1rem;
  font-size: 1.2rem;
}
